@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,900display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 12px;
  line-height: 138.5%; /* 16.62px/12 */
  color: #616161;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1090px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

[class*=__title] {
  color: #000000;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 122.727273%; /* 54px/44 */
}
@media (max-width: 767.98px) {
  .title {
    font-size: 34px;
  }
}
.title span {
  color: #EC5863;
}
.title_blue span {
  color: #587EEC;
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 14px 30px;
  font-family: Raleway;
  font-size: 10px;
  font-weight: 800;
  line-height: 120%; /* 12px/10 */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FCFDFE;
  background-color: #EC5863;
  transition: all 0.3s ease 0s;
}
.button:hover {
  cursor: pointer;
  background-color: #4285F4;
}
.button_blue {
  background: #4285F4;
}
.button_blue:hover {
  background-color: #EC5863;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
}
.header__logo {
  position: relative;
  z-index: 1;
  max-width: 140px;
  max-height: 40px;
}
@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 40px;
    overflow: hidden;
  }
}
.header__logo img {
  max-height: 100%;
}
.header__menu {
  flex: 1 1 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.header__button {
  position: relative;
  z-index: 1;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__button {
    flex: 0 0 170px;
  }
}
@media (max-width: 767.98px) {
  .header__button {
    flex: 0 0 100px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FAFBFD;
    padding: 100px 15px 30px 15px;
    transition: all 0.3s ease 0s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.menu__link {
  font-family: Raleway;
  font-size: 10px;
  font-weight: 700;
  line-height: 120%; /* 12px/10 */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 20px;
    line-height: 40px;
  }
}
.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .icon-menu::before {
    content: "";
    width: 100%;
    height: 2px;
    top: 0;
    background-color: #000000;
  }
  .icon-menu::after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #000000;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000000;
  }
}

.close-icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .close-icon-menu {
    display: none;
    position: relative;
    flex: 0 0 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .close-icon-menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
  }
  .close-icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.header:target .menu__body {
  left: 0;
}
.header:target .menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #FAFBFD;
}
.header:target .icon-menu {
  display: none;
}
.header:target .close-icon-menu {
  display: flex;
}

.page {
  flex: 1 1 auto;
}

.page__main {
  background-color: #FAFBFD;
}

.page__stay-safe {
  padding: 80px 0;
}
@media (max-width: 991.98px) {
  .page__stay-safe {
    padding: 50px 0;
  }
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 162px;
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .main__container {
    padding-top: 112px;
    padding-bottom: 20px;
  }
}
.main__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  transform: translate(100%, 0px);
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
}
@media (max-width: 991.98px) {
  .main__container::before {
    right: 185px;
  }
}
@media (max-width: 767.98px) {
  .main__container::before {
    display: none;
  }
}
.main__content {
  display: flex;
  flex: 0 1 48%;
  flex-direction: column;
  justify-content: space-between;
  padding: 78px 20px 0 20px;
}
@media (max-width: 767.98px) {
  .main__content {
    flex: 1 1 100%;
  }
}
@media (max-width: 767.98px) {
  .main__content {
    padding: 0;
  }
}
.main__block-text {
  max-width: 410px;
  padding-bottom: 148px;
}
@media (max-width: 767.98px) {
  .main__block-text {
    max-width: none;
    padding-bottom: 24px;
  }
}
.main__image {
  position: relative;
  z-index: 2;
  flex: 0 1 52%;
}
@media (max-width: 767.98px) {
  .main__image {
    flex: 1 1 100%;
  }
}
.main__image img {
  max-width: 100%;
}

.block-text__title:not(:last-child) {
  margin-bottom: 12px;
}
.block-text__text {
  line-height: 138.5%; /* 16.62px */
  letter-spacing: 0.96px;
}
.block-text__text:not(:last-child) {
  margin-bottom: 24px;
}
.video-link {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .video-link {
    margin-bottom: 24px;
  }
}
.video-link__icon {
  margin-right: 12px;
}
.video-link__text p {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%; /* 16.38px */
  letter-spacing: 1.04px;
}
.video-link__text p:not(:last-child) {
  margin-bottom: 5px;
}
.video-link__text a {
  text-transform: uppercase;
  color: #000000;
  font-size: 9px;
  line-height: 126%; /* 11.34px */
  letter-spacing: 1.485px;
}
.video-link__text a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.stay-safe__container {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .stay-safe__container {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.stay-safe__media {
  flex: 0 1 50%;
}
@media (min-width: 991.98px) {
  .stay-safe__media {
    padding-left: 48px;
  }
}
@media (max-width: 767.98px) {
  .stay-safe__media {
    flex: 1 1 100%;
  }
}
.stay-safe__content {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .stay-safe__content {
    flex: 1 1 100%;
  }
}
.stay-safe__block-text {
  max-width: 363px;
}

.media-block__wrapper {
  position: relative;
  display: inline-block;
  width: 338px;
  padding: 56px 38px 27px 71px;
}
@media (max-width: 479.98px) {
  .media-block__wrapper {
    width: 280px;
  }
}
.media-block__image {
  position: relative;
  display: inline-block;
  border-radius: 16px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);
}
.media-block__image::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  z-index: 2;
}
.media-block__image img {
  position: relative;
  z-index: 3;
  max-width: 100%;
}
.media-block__item {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
  width: 77px;
  height: 77px;
}
.media-block__item_top {
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
}
.media-block__item_right {
  bottom: 107px;
  right: 0px;
}
.media-block__item_bottom {
  bottom: 0;
  left: 33px;
}