@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 0.75rem;
  line-height: 138.5%; /* 16.62px/12 */
  color: #616161;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 68.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media (max-width: 68.125em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}
@media (max-width: 61.9988em) {
  [class*=__container] {
    max-width: 46.875rem;
  }
}
@media (max-width: 47.9988em) {
  [class*=__container] {
    max-width: none;
  }
}

[class*=__title] {
  color: #000000;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 122.727273%; /* 54px/44 */
}
@media (max-width: 767.98px) {
  .title {
    font-size: 34px;
  }
}
.title span {
  color: #EC5863;
}
.title_blue span {
  color: #587EEC;
}

.button {
  display: inline-block;
  border-radius: 0.3125rem;
  padding: 0.875rem 1.875rem;
  font-family: Raleway;
  font-size: 0.625rem;
  font-weight: 800;
  line-height: 120%; /* 12px/10 */
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  color: #FCFDFE;
  background-color: #EC5863;
  transition: all 0.3s ease 0s;
}
.button:hover {
  cursor: pointer;
  background-color: #4285F4;
}
.button_blue {
  background: #4285F4;
  transition: all 0.3s ease 0s;
}
.button_blue:hover {
  background-color: #EC5863;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 2.3125rem;
  padding-bottom: 2.3125rem;
}
.header__logo {
  position: relative;
  z-index: 1;
  max-width: 8.75rem;
  max-height: 2.5rem;
}
@media (max-width: 29.9988em) {
  .header__logo {
    flex: 0 0 2.5rem;
    overflow: hidden;
  }
}
.header__logo img {
  max-height: 100%;
}
.header__menu {
  flex: 1 1 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.header__button {
  position: relative;
  z-index: 1;
  flex: 0 0 15.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 61.9988em) {
  .header__button {
    flex: 0 0 10.625rem;
  }
}
@media (max-width: 47.9988em) {
  .header__button {
    flex: 0 0 6.25rem;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 47.9988em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FAFBFD;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    transition: all 0.3s ease 0s;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media (max-width: 47.9988em) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 61.9988em) {
  .menu__list {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
.menu__link {
  font-family: Raleway;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 120%; /* 12px/10 */
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 47.9988em) {
  .menu__link {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}
.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.9988em) {
  .icon-menu {
    display: flex;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.25rem;
  }
  .icon-menu::before {
    content: "";
    width: 100%;
    height: 0.125rem;
    top: 0;
    background-color: #000000;
  }
  .icon-menu::after {
    content: "";
    width: 100%;
    height: 0.125rem;
    bottom: 0;
    background-color: #000000;
  }
  .icon-menu span {
    height: 0.125rem;
    background-color: #000000;
  }
}

.close-icon-menu {
  display: none;
}
@media (max-width: 47.9988em) {
  .close-icon-menu {
    display: none;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.875rem;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.25rem;
  }
  .close-icon-menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.125rem;
    background-color: #000000;
    transform: rotate(45deg);
  }
  .close-icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.125rem;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.header:target .menu__body {
  left: 0;
}
.header:target .menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  background-color: #FAFBFD;
}
.header:target .icon-menu {
  display: none;
}
.header:target .close-icon-menu {
  display: flex;
}

.page {
  flex: 1 1 auto;
}

.page__main {
  background-color: #FAFBFD;
}

.page__stay-safe {
  padding: 5rem 0;
}
@media (max-width: 61.9988em) {
  .page__stay-safe {
    padding: 3.125rem 0;
  }
}
@media (max-width: 47.9988em) {
  .page__stay-safe {
    padding: 1.25rem 0;
  }
}

.page__experts {
  padding-top: 6.4375rem;
  padding-bottom: 7.25rem;
  background-color: #FAFBFD;
}
@media (max-width: 47.9988em) {
  .page__experts {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}

.page__healthcare {
  padding-top: 5rem;
  padding-bottom: 4.6875rem;
}
@media (max-width: 61.9988em) {
  .page__healthcare {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 47.9988em) {
  .page__healthcare {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 10.125rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 47.9988em) {
  .main__container {
    padding-top: 7rem;
    padding-bottom: 1.25rem;
  }
}
.main__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 16.6875rem;
  top: 0;
  transform: translate(100%, 0px);
  background-color: #EC5863;
  border-radius: 1.875rem 0px 0px 1.875rem;
}
@media (max-width: 61.9988em) {
  .main__container::before {
    right: 11.5625rem;
  }
}
@media (max-width: 47.9988em) {
  .main__container::before {
    display: none;
  }
}
.main__content {
  display: flex;
  flex: 0 1 48%;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.875rem 1.25rem 0 1.25rem;
}
@media (max-width: 47.9988em) {
  .main__content {
    flex: 1 1 100%;
  }
}
@media (max-width: 47.9988em) {
  .main__content {
    padding: 0;
  }
}
.main__block-text {
  max-width: 25.625rem;
  padding-bottom: 9.25rem;
}
@media (max-width: 47.9988em) {
  .main__block-text {
    max-width: none;
    padding-bottom: 1.5rem;
  }
}
.main__image {
  position: relative;
  z-index: 2;
  flex: 0 1 52%;
}
@media (max-width: 47.9988em) {
  .main__image {
    flex: 1 1 100%;
  }
}
.main__image img {
  max-width: 100%;
}

.block-text_center {
  text-align: center;
  max-width: 41.125rem;
  margin: 0 auto;
}
.block-text__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.block-text__text {
  line-height: 138.5%; /* 16.62px */
  letter-spacing: 0.06rem;
}
.block-text__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.video-link {
  display: flex;
  align-items: center;
}
@media (max-width: 47.9988em) {
  .video-link {
    margin-bottom: 1.5rem;
  }
}
.video-link__icon {
  margin-right: 0.75rem;
}
.video-link__text p {
  color: #b0b0b0;
  font-size: 0.8125rem;
  line-height: 126%; /* 16.38px */
  letter-spacing: 0.065rem;
}
.video-link__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.video-link__text a {
  text-transform: uppercase;
  color: #000000;
  font-size: 0.5625rem;
  line-height: 126%; /* 11.34px */
  letter-spacing: 0.0928rem;
}
.video-link__text a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.stay-safe__container {
  display: flex;
  align-items: center;
}
@media (max-width: 47.9988em) {
  .stay-safe__container {
    flex-direction: column-reverse;
    gap: 2.5rem;
  }
}
.stay-safe__media {
  flex: 0 1 50%;
}
@media (min-width: 61.9988em) {
  .stay-safe__media {
    padding-left: 3rem;
  }
}
@media (max-width: 47.9988em) {
  .stay-safe__media {
    flex: 1 1 100%;
  }
}
.stay-safe__content {
  flex: 0 1 50%;
}
@media (max-width: 47.9988em) {
  .stay-safe__content {
    flex: 1 1 100%;
  }
}
.stay-safe__block-text {
  max-width: 22.6875rem;
}

.media-block__wrapper {
  position: relative;
  display: inline-block;
  width: 21.125rem;
  padding: 3.5rem 2.375rem 1.6875rem 4.4375rem;
}
@media (max-width: 29.9988em) {
  .media-block__wrapper {
    width: 17.5rem;
  }
}
.media-block__image {
  position: relative;
  display: inline-block;
  border-radius: 1rem;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0.125rem 0.25rem 2rem 0px rgba(0, 0, 0, 0.12);
}
.media-block__image::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0.75rem;
  width: 12.875rem;
  height: 1.6875rem;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 1rem;
  z-index: 2;
}
.media-block__image img {
  position: relative;
  z-index: 3;
  max-width: 100%;
}
.media-block__item {
  position: absolute;
  background-color: #EC5863;
  border-radius: 1.875rem;
  width: 4.8125rem;
  height: 4.8125rem;
}
.media-block__item_top {
  top: 0;
  left: 0;
  width: 9.1875rem;
  height: 9.1875rem;
}
.media-block__item_right {
  bottom: 6.6875rem;
  right: 0px;
}
.media-block__item_bottom {
  bottom: 0;
  left: 2.0625rem;
}

.experts__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 47.9988em) {
  .experts__content {
    flex-direction: column;
    align-items: stretch;
  }
}
.experts__block-text {
  flex: 0 1 50%;
  max-width: 22.875rem;
  padding-right: 1.25rem;
}
@media (max-width: 47.9988em) {
  .experts__block-text {
    flex: 1 1 100%;
    max-width: 100%;
    padding-right: 0px;
    margin-bottom: 2.5rem;
  }
}
.experts__video {
  position: relative;
  padding-bottom: 28%;
  flex: 0 1 50%;
  box-shadow: 0px 0.25rem 1.125rem 0px rgba(88, 126, 236, 0.18);
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 47.9988em) {
  .experts__video {
    flex: 1 1 100%;
    padding-bottom: 55%;
  }
}
.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.statistics-expert {
  max-width: 654px;
  margin: 0 auto;
  position: relative;
}
.statistics-expert__block {
  position: relative;
  z-index: 2;
  border-radius: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0px 0.125rem 1.5rem 0px rgba(88, 126, 236, 0.15);
  margin-bottom: 5rem;
}
@media (max-width: 47.9988em) {
  .statistics-expert__block {
    margin-bottom: 2.5rem;
  }
}
.statistics-expert__decor {
  position: absolute;
  background-color: #EC5863;
  border-radius: 1.875rem;
}
.statistics-expert__decor_top {
  width: 6.0598rem;
  height: 6.0598rem;
  transform: rotate(105deg);
  top: -2.5rem;
  left: 13.75rem;
}
.statistics-expert__decor_right {
  width: 7.9667rem;
  height: 7.9667rem;
  transform: rotate(-30deg);
  top: 0;
  right: -3.125rem;
}
.statistics-expert__decor_left {
  border-radius: 1rem;
  width: 4.1095rem;
  height: 4.1095rem;
  transform: rotate(-30deg);
  bottom: -1.25rem;
  left: -1.25rem;
}

.block-statistics {
  padding: 1.75rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 47.9988em) {
  .block-statistics {
    padding: 1.5625rem;
  }
}
@media (max-width: 29.9988em) {
  .block-statistics {
    flex-direction: column;
    gap: 1.25rem;
  }
}
.block-statistics__value {
  color: #EC5863;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 119.444444%; /* 43px/36 */
  letter-spacing: 0.315rem;
  margin-bottom: 0.3125rem;
}
.block-statistics__text {
  color: #000000;
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 118.181818%; /* 13px/11 */
  letter-spacing: 0.2544rem;
  text-transform: uppercase;
}

.healthcare__content {
  padding-top: 3.125rem;
}
@media (max-width: 47.9988em) {
  .healthcare__content {
    padding-top: 1.875rem;
  }
}
.healthcare__list {
  max-width: 61.25rem;
  margin: 0 auto;
  display: flex;
  gap: 4.5rem;
}
@media (max-width: 61.9988em) {
  .healthcare__list {
    flex-direction: column;
    gap: 3.125rem;
  }
}
.healthcare__item {
  position: relative;
  flex: 0 1 33.33%;
}
.healthcare__item_1::before {
  content: "";
  position: absolute;
  width: 4.1095rem;
  height: 4.1095rem;
  transform: rotate(-30deg);
  bottom: -2.1875rem;
  left: -1.5625rem;
  border-radius: 1rem;
  background: #EC5863;
}
.healthcare__item_1::after {
  content: "";
  position: absolute;
  width: 6.0598rem;
  height: 6.0598rem;
  transform: rotate(105deg);
  top: 3.125rem;
  right: -3.125rem;
  border-radius: 1.875rem;
  background: #EC5863;
}
.healthcare__item_2::after {
  content: "";
  position: absolute;
  width: 7.9667rem;
  height: 7.9667rem;
  transform: rotate(-30deg);
  bottom: -1.5625rem;
  right: -5rem;
  border-radius: 1.875rem;
  background: #EC5863;
}
.healthcare__item_3::before {
  content: "";
  position: absolute;
  width: 4.1095rem;
  height: 4.1095rem;
  transform: rotate(-30deg);
  top: -1.875rem;
  right: -1.25rem;
  border-radius: 1rem;
  background: #EC5863;
}

.item-healthcare {
  height: 100%;
  position: relative;
  z-index: 2;
  border-radius: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 0.25rem 1.125rem 0px rgba(88, 126, 236, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.25rem 1.125rem;
}
.item-healthcare__image {
  max-height: 4.5rem;
  margin-bottom: 3.625rem;
  align-items: center;
}
.item-healthcare__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 138.5%; /* 22.16px */
  letter-spacing: 0.08rem;
}
.item-healthcare__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.item-healthcare__text {
  line-height: 138.5%; /* 16.62px */
  letter-spacing: 0.06rem;
}

.footer {
  padding-bottom: 3.125rem;
}
@media (max-width: 29.9988em) {
  .footer {
    padding-bottom: 1.25rem;
  }
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.625rem;
}
@media (max-width: 47.9988em) {
  .footer__list {
    flex-direction: column;
    padding-top: 2.5rem;
    gap: 2.5rem;
  }
}
@media (max-width: 29.9988em) {
  .footer__list {
    flex-direction: column;
    padding-top: 1.25rem;
    gap: 1.25rem;
  }
}
.footer__link img {
  max-width: 100%;
}