//========COLORS========//
$main-text-color:#616161;
$light-text-color:#FCFDFE;
$black-text-color:#000000;

$primary-color:#EC5863;
$accent-color:#587EEC;

$button-bgd-color:#4285F4;
$white-bgd-color:#FFFFFF;
$light-bgd-color:#FAFBFD;

