@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800display=swap);

@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Rubik, sans-serif;
   font-size: 12px;
   line-height: 138.5%; /* 16.62px/12 */
   color: $main-text-color;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1090px;
   margin: 0 auto;
   padding: 0 15px;
   @media (max-width: 1090px) {
      max-width: 970px;
   }
   @media (max-width: 991.98px) {
      max-width: 750px;
   }
   @media (max-width: 767.98px) {
      max-width: none;
   }
}
[class*="__title"] {
   color: $black-text-color;
}
.title {
   font-size: 44px;
   @media (max-width: 767.98px) {
      font-size: 34px;
   }
   font-weight: 700;
   line-height: 122.727273%; /* 54px/44 */
   span {
      color: $primary-color;
   }
   &_blue {
      span {
         color: $accent-color;
      }
   }
}
.button {
   display: inline-block;
   border-radius: 5px;
   padding: 14px 30px;
   font-family: Raleway;
   font-size: 10px;
   font-weight: 800;
   line-height: 120%; /* 12px/10 */
   letter-spacing: 1.4px;
   text-transform: uppercase;
   color: $light-text-color;
   background-color: $primary-color;
   transition: all 0.3s ease 0s;
   &:hover {
      cursor: pointer;
      background-color: $button-bgd-color;
   }
   &_blue {
      background: $button-bgd-color;
      &:hover {
         background-color: $primary-color;
      }
   }
}

//===========HEADER============//
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   &__container {
      display: flex;
      align-items: center;
      padding-top: 37px;
      padding-bottom: 37px;
   }
   &__logo {
      position: relative;
      z-index: 1;
      max-width: 140px;
      max-height: 40px;
      @media (max-width: 479.98px) {
         flex: 0 0 40px;
         overflow: hidden;
      }
      img {
         max-height: 100%;
      }
   }
   &__menu {
      flex: 1 1 auto;
      padding-left: 40px;
      padding-right: 40px;
   }
   &__button {
      position: relative;
      z-index: 1;
      flex: 0 0 252px;
      @media (max-width: 991.98px) {
         flex: 0 0 170px;
      }
      @media (max-width: 767.98px) {
         flex: 0 0 100px;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
}
.menu {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   &__body {
      @media (max-width: 767.98px) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: $light-bgd-color;
         padding: 100px 15px 30px 15px;
         transition: all 0.3s ease 0s;
      }
   }

   &__list {
      display: flex;
      @media (max-width: 767.98px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
      flex-wrap: wrap;
      align-items: center;
      column-gap: 40px;
      @media (max-width: 991.98px) {
         column-gap: 30px;
      }
   }
   &__link {
      font-family: Raleway;
      font-size: 10px;
      font-weight: 700;
      line-height: 120%; /* 12px/10 */
      letter-spacing: 1.4px;
      text-transform: uppercase;
      color: $black-text-color;
      @media (max-width: 767.98px) {
         font-size: 20px;
         line-height: 40px;
      }
      &:hover {
         text-decoration: underline;
      }
   }
}

//===================BURGER==============//
.icon-menu {
   display: none;
   @media (max-width: 767.98px) {
      display: flex;
      position: relative;
      flex: 0 0 30px;
      height: 18px;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      &::before {
         content: "";
         width: 100%;
         height: 2px;
         top: 0;
         background-color: $black-text-color;
      }
      &::after {
         content: "";
         width: 100%;
         height: 2px;
         bottom: 0;
         background-color: $black-text-color;
      }
      span {
         height: 2px;
         background-color: $black-text-color;
      }
   }
}
.close-icon-menu {
   display: none;
   @media (max-width: 767.98px) {
      display: none;
      position: relative;
      flex: 0 0 30px;
      height: 30px;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         height: 2px;
         background-color: $black-text-color;
         transform: rotate(45deg);
      }
      &::after {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         height: 2px;
         background-color: $black-text-color;
         transform: rotate(-45deg);
      }
   }
}
.header:target {
   .menu__body {
      left: 0;
      &::before {
         content: "";
         position: fixed;
         width: 100%;
         height: 80px;
         top: 0;
         left: 0;
         background-color: $light-bgd-color;
      }
   }
   .icon-menu {
      display: none;
   }
   .close-icon-menu {
      display: flex;
   }
}

//================PAGES=============//
.page {
   flex: 1 1 auto;
}
.page {
   &__main {
      background-color: $light-bgd-color;
   }
}
.page {
   &__stay-safe {
      padding: 80px 0;
      @media (max-width: 991.98px) {
         padding: 50px 0;
      }
      @media (max-width: 767.98px) {
         padding: 20px 0;
      }
   }
}
.page {
   &__experts {
      padding-top: 103px;
      padding-bottom: 116px;
      background-color: $light-bgd-color;
      @media (max-width: 767.98px) {
         padding-top: 50px;
         padding-bottom: 50px;
      }
   }
}
.page__healthcare {
   padding-top: 80px;
   padding-bottom: 75px;
   @media (max-width: 991.98px) {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   @media (max-width: 767.98px) {
      padding-top: 20px;
      padding-bottom: 20px;
   }
}
//=================PAGE_MAIN=============//
.main {
   &__container {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-top: 162px;
      padding-bottom: 50px;
      @media (max-width: 767.98px) {
         padding-top: 112px;
         padding-bottom: 20px;
      }
      &::before {
         content: "";
         position: absolute;
         width: 100vw;
         height: 100%;
         right: 267px;
         @media (max-width: 991.98px) {
            right: 185px;
         }
         @media (max-width: 767.98px) {
            display: none;
         }
         top: 0;
         transform: translate(100%, 0px);
         background-color: $primary-color;
         border-radius: 30px 0px 0px 30px;
      }
   }
   &__content {
      display: flex;
      flex: 0 1 48%;
      @media (max-width: 767.98px) {
         flex: 1 1 100%;
      }
      flex-direction: column;
      justify-content: space-between;
      padding: 78px 20px 0 20px;
      @media (max-width: 767.98px) {
         padding: 0;
      }
   }
   &__block-text {
      max-width: 410px;
      padding-bottom: 148px;
      @media (max-width: 767.98px) {
         max-width: none;
         padding-bottom: 24px;
      }
   }
   &__video-link {
   }
   &__image {
      position: relative;
      z-index: 2;
      flex: 0 1 52%;
      @media (max-width: 767.98px) {
         flex: 1 1 100%;
      }
      img {
         max-width: 100%;
      }
   }
}
.block-text {
   &_center {
      text-align: center;
      max-width: 658px;
      margin: 0 auto;
   }
   &__title {
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }
   &__text {
      line-height: 138.5%; /* 16.62px */
      letter-spacing: 0.96px;
      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }
   &__button {
   }
}
.video-link {
   display: flex;
   align-items: center;
   @media (max-width: 767.98px) {
      margin-bottom: 24px;
   }
   &__icon {
      margin-right: 12px;
   }
   &__text {
      p {
         color: #b0b0b0;
         font-size: 13px;
         line-height: 126%; /* 16.38px */
         letter-spacing: 1.04px;
         &:not(:last-child) {
            margin-bottom: 5px;
         }
      }
      a {
         text-transform: uppercase;
         color: $black-text-color;
         font-size: 9px;
         line-height: 126%; /* 11.34px */
         letter-spacing: 1.485px;
         &:hover {
            cursor: pointer;
            text-decoration: underline;
         }
      }
   }
}

//=================PAGE_STAY-SAFE=============//
.stay-safe {
   &__container {
      display: flex;
      align-items: center;
      @media (max-width: 767.98px) {
         flex-direction: column-reverse;
         gap: 40px;
      }
   }
   &__media {
      @media (min-width: 991.98px) {
         padding-left: 48px;
      }
      flex: 0 1 50%;
      @media (max-width: 767.98px) {
         flex: 1 1 100%;
      }
   }
   &__content {
      flex: 0 1 50%;
      @media (max-width: 767.98px) {
         flex: 1 1 100%;
      }
   }
   &__block-text {
      max-width: 363px;
   }
}
.media-block {
   &__wrapper {
      position: relative;
      display: inline-block;
      width: 338px;
      @media (max-width: 479.98px) {
         width: 280px;
      }
      padding: 56px 38px 27px 71px;
   }
   &__image {
      position: relative;
      display: inline-block;
      border-radius: 16px;
      background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);
      &::after {
         content: "";
         position: absolute;
         bottom: -12px;
         left: 12px;
         width: 206px;
         height: 27px;
         background: rgba(240, 240, 240, 0.49);
         border-radius: 16px;
         z-index: 2;
      }
      img {
         position: relative;
         z-index: 3;
         max-width: 100%;
      }
   }
   &__item {
      position: absolute;
      background-color: $primary-color;
      border-radius: 30px;
      width: 77px;
      height: 77px;
      &_top {
         top: 0;
         left: 0;
         width: 147px;
         height: 147px;
      }
      &_right {
         bottom: 107px;
         right: 0px;
      }
      &_bottom {
         bottom: 0;
         left: 33px;
      }
   }
}

//=================EXPERTS=============//
.experts {
   &__container {
   }
   &__statistics {
   }
   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 767.98px) {
         flex-direction: column;
         align-items: stretch;
      }
   }
   &__block-text {
      flex: 0 1 50%;
      max-width: 366px;
      padding-right: 20px;
      @media (max-width: 767.98px) {
         flex: 1 1 100%;
         max-width: 100%;
         padding-right: 0px;
         margin-bottom: 40px;
      }
   }
   &__video {
      position: relative;
      padding-bottom: 28%;
      flex: 0 1 50%;
      box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
      border-radius: 16px;
      overflow: hidden;
      @media (max-width: 767.98px) {
         flex: 1 1 100%;
         padding-bottom: 55%;
      }
      iframe {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
}
.statistics-expert {
   max-width: 654px;
   margin: 0 auto;
   position: relative;
   &__block {
      position: relative;
      z-index: 2;
      border-radius: 16px;
      background-color: $white-bgd-color;
      box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
      margin-bottom: 80px;
      @media (max-width: 767.98px) {
         margin-bottom: 40px;
      }
   }
   &__decor {
      position: absolute;
      background-color: $primary-color;
      border-radius: 30px;
      &_top {
         width: 96.956px;
         height: 96.956px;
         transform: rotate(105deg);
         top: -40px;
         left: 220px;
      }
      &_right {
         width: 127.467px;
         height: 127.467px;
         transform: rotate(-30deg);
         top: 0;
         right: -50px;
      }
      &_left {
         border-radius: 16px;
         width: 65.752px;
         height: 65.752px;
         transform: rotate(-30deg);
         bottom: -20px;
         left: -20px;
      }
   }
}
.block-statistics {
   padding: 28px 80px;
   @media (max-width: 767.98px) {
      padding: 25px;
   }
   display: flex;
   @media (max-width: 479.98px) {
      flex-direction: column;
      gap: 20px;
   }
   align-items: center;
   justify-content: space-between;
   text-align: center;
   &__item {
   }
   &__value {
      color: $primary-color;
      font-size: 36px;
      font-weight: 700;
      line-height: 119.444444%; /* 43px/36 */
      letter-spacing: 5.04px;
      margin-bottom: 5px;
   }
   &__text {
      color: $black-text-color;
      font-size: 11px;
      font-weight: 700;
      line-height: 118.181818%; /* 13px/11 */
      letter-spacing: 4.07px;
      text-transform: uppercase;
   }
}

//=================HEALTHCARE=============//
.healthcare {
   &__content {
      padding-top: 50px;
      @media (max-width: 767.98px) {
         padding-top: 30px;
      }
   }
   &__list {
      max-width: 980px;
      margin: 0 auto;
      display: flex;
      gap: 72px;
      @media (max-width: 991.98px) {
         flex-direction: column;
         gap: 50px;
      }
   }
   &__item {
      position: relative;
      flex: 0 1 33.33%;
      &_1 {
         &::before {
            content: "";
            position: absolute;
            width: 65.752px;
            height: 65.752px;
            transform: rotate(-30deg);
            bottom: -35px;
            left: -25px;
            border-radius: 16px;
            background: $primary-color;
         }
         &::after {
            content: "";
            position: absolute;
            width: 96.956px;
            height: 96.956px;
            transform: rotate(105deg);
            top: 50px;
            right: -50px;
            border-radius: 30px;
            background: $primary-color;
         }
      }
      &_2 {
         &::after {
            content: "";
            position: absolute;
            width: 127.467px;
            height: 127.467px;
            transform: rotate(-30deg);
            bottom: -25px;
            right: -80px;
            border-radius: 30px;
            background: $primary-color;
         }
      }
      &_3 {
         &::before {
            content: "";
            position: absolute;
            width: 65.752px;
            height: 65.752px;
            transform: rotate(-30deg);
            top: -30px;
            right: -20px;
            border-radius: 16px;
            background: $primary-color;
         }
      }
   }
}
.item-healthcare {
   height: 100%;
   position: relative;
   z-index: 2;
   border-radius: 8px;
   background: $white-bgd-color;
   box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 36px 18px;
   &__image {
      max-height: 72px;
      margin-bottom: 58px;
      align-items: center;
   }
   &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 138.5%; /* 22.16px */
      letter-spacing: 1.28px;
      &:not(:last-child) {
         margin-bottom: 4px;
      }
   }
   &__text {
      line-height: 138.5%; /* 16.62px */
      letter-spacing: 0.96px;
   }
}

//=================FOOTER=============//
.footer {
   padding-bottom: 50px;
   @media (max-width: 479.98px) {
      padding-bottom: 20px;
   }
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 58px;
      @media (max-width: 767.98px) {
         flex-direction: column;
         padding-top: 40px;
         gap: 40px;
      }
      @media (max-width: 479.98px) {
         flex-direction: column;
         padding-top: 20px;
         gap: 20px;
      }
   }
   &__item {
      img {
         max-width: 100%;
      }
   }
}
