@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,900display=swap);

@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Rubik, sans-serif;
   font-size: 12px;
   line-height: 138.5%; /* 16.62px/12 */
   color: $main-text-color;
   background-color: $white-bgd-color;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1090px;
   margin: 0 auto;
   padding: 0 15px;
   @media (max-width: 1090px) {
      max-width: 970px;
   }
   @media (max-width: 991.98px) {
      max-width: 750px;
   }
   @media (max-width: 767.98px) {
      max-width: none;
   }
}
[class*="__title"] {
   color: $black-text-color;
}
.title {
   font-size: 44px;
   line-height: 120.454545%; /* 53px/44 */
   font-weight: 600;
   span {
      color: $accent-color;
   }
}

//===========HEADER============//

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   &__container {
      display: flex;
      align-items: center;
      padding-top: 37px;
      padding-bottom: 37px;
   }
   &__logo {
      position: relative;
      z-index: 1;
      max-width: 140px;
      max-height: 40px;
      @media (max-width: 479.98px) {
         flex: 0 0 40px;
         overflow: hidden;
      }
      img {
         max-height: 100%;
      }
   }
   &__menu {
      flex: 1 1 auto;
      padding-left: 40px;
      padding-right: 40px;
   }
   &__button {
      position: relative;
      z-index: 1;
      flex: 0 0 252px;
      @media (max-width: 991.98px) {
         flex: 0 0 170px;
      }
      @media (max-width: 767.98px) {
         flex: 0 0 100px;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
}
.menu {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   &__body {
      @media (max-width: 767.98px) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background-color: $light-bgd-color;
         padding: 100px 15px 30px 15px;
         transition: all 0.3s ease 0s;
         &:target {
            left: 0;
         }
      }
   }

   &__list {
      display: flex;
      @media (max-width: 767.98px) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
      flex-wrap: wrap;
      align-items: center;
      column-gap: 40px;
      @media (max-width: 991.98px) {
         column-gap: 30px;
      }
   }
   &__link {
      font-family: Raleway;
      font-size: 10px;
      font-weight: 700;
      line-height: 120%; /* 12px/10 */
      letter-spacing: 1.4px;
      text-transform: uppercase;
      color: $black-text-color;
      @media (max-width: 767.98px) {
         font-size: 20px;
         line-height: 40px;
      }
      &:hover {
         text-decoration: underline;
      }
   }
}

.button {
   display: inline-block;
   border-radius: 5px;
   padding: 14px 30px;
   font-family: Raleway;
   font-size: 10px;
   font-weight: 800;
   line-height: 120%; /* 12px/10 */
   letter-spacing: 1.4px;
   text-transform: uppercase;
   color: $light-text-color;
   background-color: $primary-color;
   transition: all 0.3s ease 0s;
   &:hover {
      cursor: pointer;
      background-color: $button-bgd-color;
   }
   &_blue {
      background: $button-bgd-color;
      &:hover {
         background-color: $primary-color;
      }
   }
}

//===================BURGER==============//
.icon-menu {
   display: none;
   @media (max-width: 767.98px) {
      display: flex;
      position: relative;
      flex: 0 0 30px;
      height: 18px;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      &::before {
         content: "";
         width: 100%;
         height: 2px;
         top: 0;
         background-color: $black-text-color;
      }
      &::after {
         content: "";
         width: 100%;
         height: 2px;
         bottom: 0;
         background-color: $black-text-color;
      }
      span {
         height: 2px;
         background-color: $black-text-color;
      }
   }
}
//================PAGES=============//
.page {
   flex: 1 1 auto;
}

//=================FOOTER=============//
