@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800display=swap);

@import "_nullstyle.scss";
@import "_variables.scss";

body {
   font-family: Rubik, sans-serif;
   font-size: 0.75rem;
   line-height: 138.5%; /* 16.62px/12 */
   color: $main-text-color;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 68.125rem;
   margin: 0 auto;
   padding: 0 0.9375rem;
   @media (max-width: 68.125em) {
      max-width: 60.625rem;
   }
   @media (max-width: 61.9988em) {
      max-width: 46.875rem;
   }
   @media (max-width: 47.9988em) {
      max-width: none;
   }
}
[class*="__title"] {
   color: $black-text-color;
}
.title {
   font-size: 2.75rem;
   @media (max-width: 47.9988em) {
      font-size: 2.125rem;
   }
   font-weight: 700;
   line-height: 122.727273%; /* 54px/44 */
   span {
      color: $primary-color;
   }
   &_blue {
      span {
         color: $accent-color;
      }
   }
}
.button {
   display: inline-block;
   border-radius: 0.3125rem;
   padding: 0.875rem 1.875rem;
   font-family: Raleway;
   font-size: 0.625rem;
   font-weight: 800;
   line-height: 120%; /* 12px/10 */
   letter-spacing: 0.0875rem;
   text-transform: uppercase;
   color: $light-text-color;
   background-color: $primary-color;
   transition: all 0.3s ease 0s;
   &:hover {
      cursor: pointer;
      background-color: $button-bgd-color;
   }
   &_blue {
      background: $button-bgd-color;
      transition: all 0.3s ease 0s;
      &:hover {
         background-color: $primary-color;
      }
   }
}

//===========HEADER============//
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   &__container {
      display: flex;
      align-items: center;
      padding-top: 2.3125rem;
      padding-bottom: 2.3125rem;
   }
   &__logo {
      position: relative;
      z-index: 1;
      max-width: 8.75rem;
      max-height: 2.5rem;
      @media (max-width: 29.9988em) {
         flex: 0 0 2.5rem;
         overflow: hidden;
      }
      img {
         max-height: 100%;
      }
   }
   &__menu {
      flex: 1 1 auto;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
   }
   &__button {
      position: relative;
      z-index: 1;
      flex: 0 0 15.75rem;
      @media (max-width: 61.9988em) {
         flex: 0 0 10.625rem;
      }
      @media (max-width: 47.9988em) {
         flex: 0 0 6.25rem;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
}
.menu {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   &__body {
      @media (max-width: 47.9988em) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: $light-bgd-color;
         padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
         transition: all 0.3s ease 0s;
      }
   }

   &__list {
      display: flex;
      @media (max-width: 47.9988em) {
         flex-direction: column;
         align-items: center;
         justify-content: center;
      }
      flex-wrap: wrap;
      align-items: center;
      column-gap: 2.5rem;
      @media (max-width: 61.9988em) {
         column-gap: 1.875rem;
      }
   }
   &__link {
      font-family: Raleway;
      font-size: 0.625rem;
      font-weight: 700;
      line-height: 120%; /* 12px/10 */
      letter-spacing: 0.0875rem;
      text-transform: uppercase;
      color: $black-text-color;
      @media (max-width: 47.9988em) {
         font-size: 1.25rem;
         line-height: 2.5rem;
      }
      &:hover {
         text-decoration: underline;
      }
   }
}

//===================BURGER==============//
.icon-menu {
   display: none;
   @media (max-width: 47.9988em) {
      display: flex;
      position: relative;
      flex: 0 0 1.875rem;
      height: 1.125rem;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1.25rem;
      &::before {
         content: "";
         width: 100%;
         height: 0.125rem;
         top: 0;
         background-color: $black-text-color;
      }
      &::after {
         content: "";
         width: 100%;
         height: 0.125rem;
         bottom: 0;
         background-color: $black-text-color;
      }
      span {
         height: 0.125rem;
         background-color: $black-text-color;
      }
   }
}
.close-icon-menu {
   display: none;
   @media (max-width: 47.9988em) {
      display: none;
      position: relative;
      flex: 0 0 1.875rem;
      height: 1.875rem;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1.25rem;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         height: 0.125rem;
         background-color: $black-text-color;
         transform: rotate(45deg);
      }
      &::after {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         width: 100%;
         height: 0.125rem;
         background-color: $black-text-color;
         transform: rotate(-45deg);
      }
   }
}
.header:target {
   .menu__body {
      left: 0;
      &::before {
         content: "";
         position: fixed;
         width: 100%;
         height: 5rem;
         top: 0;
         left: 0;
         background-color: $light-bgd-color;
      }
   }
   .icon-menu {
      display: none;
   }
   .close-icon-menu {
      display: flex;
   }
}

//================PAGES=============//
.page {
   flex: 1 1 auto;
}
.page {
   &__main {
      background-color: $light-bgd-color;
   }
}
.page {
   &__stay-safe {
      padding: 5rem 0;
      @media (max-width: 61.9988em) {
         padding: 3.125rem 0;
      }
      @media (max-width: 47.9988em) {
         padding: 1.25rem 0;
      }
   }
}
.page {
   &__experts {
      padding-top: 6.4375rem;
      padding-bottom: 7.25rem;
      background-color: $light-bgd-color;
      @media (max-width: 47.9988em) {
         padding-top: 3.125rem;
         padding-bottom: 3.125rem;
      }
   }
}
.page__healthcare {
   padding-top: 5rem;
   padding-bottom: 4.6875rem;
   @media (max-width: 61.9988em) {
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
   }
   @media (max-width: 47.9988em) {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
   }
}
//=================PAGE_MAIN=============//
.main {
   &__container {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-top: 10.125rem;
      padding-bottom: 3.125rem;
      @media (max-width: 47.9988em) {
         padding-top: 7rem;
         padding-bottom: 1.25rem;
      }
      &::before {
         content: "";
         position: absolute;
         width: 100vw;
         height: 100%;
         right: 16.6875rem;
         @media (max-width: 61.9988em) {
            right: 11.5625rem;
         }
         @media (max-width: 47.9988em) {
            display: none;
         }
         top: 0;
         transform: translate(100%, 0px);
         background-color: $primary-color;
         border-radius: 1.875rem 0px 0px 1.875rem;
      }
   }
   &__content {
      display: flex;
      flex: 0 1 48%;
      @media (max-width: 47.9988em) {
         flex: 1 1 100%;
      }
      flex-direction: column;
      justify-content: space-between;
      padding: 4.875rem 1.25rem 0 1.25rem;
      @media (max-width: 47.9988em) {
         padding: 0;
      }
   }
   &__block-text {
      max-width: 25.625rem;
      padding-bottom: 9.25rem;
      @media (max-width: 47.9988em) {
         max-width: none;
         padding-bottom: 1.5rem;
      }
   }
   &__image {
      position: relative;
      z-index: 2;
      flex: 0 1 52%;
      @media (max-width: 47.9988em) {
         flex: 1 1 100%;
      }
      img {
         max-width: 100%;
      }
   }
}
.block-text {
   &_center {
      text-align: center;
      max-width: 41.125rem;
      margin: 0 auto;
   }
   &__title {
      &:not(:last-child) {
         margin-bottom: 0.75rem;
      }
   }
   &__text {
      line-height: 138.5%; /* 16.62px */
      letter-spacing: 0.06rem;
      &:not(:last-child) {
         margin-bottom: 1.5rem;
      }
   }
}
.video-link {
   display: flex;
   align-items: center;
   @media (max-width: 47.9988em) {
      margin-bottom: 1.5rem;
   }
   &__icon {
      margin-right: 0.75rem;
   }
   &__text {
      p {
         color: #b0b0b0;
         font-size: 0.8125rem;
         line-height: 126%; /* 16.38px */
         letter-spacing: 0.065rem;
         &:not(:last-child) {
            margin-bottom: 0.3125rem;
         }
      }
      a {
         text-transform: uppercase;
         color: $black-text-color;
         font-size: 0.5625rem;
         line-height: 126%; /* 11.34px */
         letter-spacing: 0.0928rem;
         &:hover {
            cursor: pointer;
            text-decoration: underline;
         }
      }
   }
}

//=================PAGE_STAY-SAFE=============//
.stay-safe {
   &__container {
      display: flex;
      align-items: center;
      @media (max-width: 47.9988em) {
         flex-direction: column-reverse;
         gap: 2.5rem;
      }
   }
   &__media {
      @media (min-width: 61.9988em) {
         padding-left: 3rem;
      }
      flex: 0 1 50%;
      @media (max-width: 47.9988em) {
         flex: 1 1 100%;
      }
   }
   &__content {
      flex: 0 1 50%;
      @media (max-width: 47.9988em) {
         flex: 1 1 100%;
      }
   }
   &__block-text {
      max-width: 22.6875rem;
   }
}
.media-block {
   &__wrapper {
      position: relative;
      display: inline-block;
      width: 21.125rem;
      @media (max-width: 29.9988em) {
         width: 17.5rem;
      }
      padding: 3.5rem 2.375rem 1.6875rem 4.4375rem;
   }
   &__image {
      position: relative;
      display: inline-block;
      border-radius: 1rem;
      background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      box-shadow: 0.125rem 0.25rem 2rem 0px rgba(0, 0, 0, 0.12);
      &::after {
         content: "";
         position: absolute;
         bottom: -0.75rem;
         left: 0.75rem;
         width: 12.875rem;
         height: 1.6875rem;
         background: rgba(240, 240, 240, 0.49);
         border-radius: 1rem;
         z-index: 2;
      }
      img {
         position: relative;
         z-index: 3;
         max-width: 100%;
      }
   }
   &__item {
      position: absolute;
      background-color: $primary-color;
      border-radius: 1.875rem;
      width: 4.8125rem;
      height: 4.8125rem;
      &_top {
         top: 0;
         left: 0;
         width: 9.1875rem;
         height: 9.1875rem;
      }
      &_right {
         bottom: 6.6875rem;
         right: 0px;
      }
      &_bottom {
         bottom: 0;
         left: 2.0625rem;
      }
   }
}

//=================EXPERTS=============//
.experts {
   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 47.9988em) {
         flex-direction: column;
         align-items: stretch;
      }
   }
   &__block-text {
      flex: 0 1 50%;
      max-width: 22.875rem;
      padding-right: 1.25rem;
      @media (max-width: 47.9988em) {
         flex: 1 1 100%;
         max-width: 100%;
         padding-right: 0px;
         margin-bottom: 2.5rem;
      }
   }
   &__video {
      position: relative;
      padding-bottom: 28%;
      flex: 0 1 50%;
      box-shadow: 0px 0.25rem 1.125rem 0px rgba(88, 126, 236, 0.18);
      border-radius: 1rem;
      overflow: hidden;
      @media (max-width: 47.9988em) {
         flex: 1 1 100%;
         padding-bottom: 55%;
      }
      iframe {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
}
.statistics-expert {
   max-width: 654px;
   margin: 0 auto;
   position: relative;
   &__block {
      position: relative;
      z-index: 2;
      border-radius: 1rem;
      background-color: $white-bgd-color;
      box-shadow: 0px 0.125rem 1.5rem 0px rgba(88, 126, 236, 0.15);
      margin-bottom: 5rem;
      @media (max-width: 47.9988em) {
         margin-bottom: 2.5rem;
      }
   }
   &__decor {
      position: absolute;
      background-color: $primary-color;
      border-radius: 1.875rem;
      &_top {
         width: 6.0598rem;
         height: 6.0598rem;
         transform: rotate(105deg);
         top: -2.5rem;
         left: 13.75rem;
      }
      &_right {
         width: 7.9667rem;
         height: 7.9667rem;
         transform: rotate(-30deg);
         top: 0;
         right: -3.125rem;
      }
      &_left {
         border-radius: 1rem;
         width: 4.1095rem;
         height: 4.1095rem;
         transform: rotate(-30deg);
         bottom: -1.25rem;
         left: -1.25rem;
      }
   }
}
.block-statistics {
   padding: 1.75rem 5rem;
   @media (max-width: 47.9988em) {
      padding: 1.5625rem;
   }
   display: flex;
   @media (max-width: 29.9988em) {
      flex-direction: column;
      gap: 1.25rem;
   }
   align-items: center;
   justify-content: space-between;
   text-align: center;   
   &__value {
      color: $primary-color;
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 119.444444%; /* 43px/36 */
      letter-spacing: 0.315rem;
      margin-bottom: 0.3125rem;
   }
   &__text {
      color: $black-text-color;
      font-size: 0.6875rem;
      font-weight: 700;
      line-height: 118.181818%; /* 13px/11 */
      letter-spacing: 0.2544rem;
      text-transform: uppercase;
   }
}

//=================HEALTHCARE=============//
.healthcare {
   &__content {
      padding-top: 3.125rem;
      @media (max-width: 47.9988em) {
         padding-top: 1.875rem;
      }
   }
   &__list {
      max-width: 61.25rem;
      margin: 0 auto;
      display: flex;
      gap: 4.5rem;
      @media (max-width: 61.9988em) {
         flex-direction: column;
         gap: 3.125rem;
      }
   }
   &__item {
      position: relative;
      flex: 0 1 33.33%;
      &_1 {
         &::before {
            content: "";
            position: absolute;
            width: 4.1095rem;
            height: 4.1095rem;
            transform: rotate(-30deg);
            bottom: -2.1875rem;
            left: -1.5625rem;
            border-radius: 1rem;
            background: $primary-color;
         }
         &::after {
            content: "";
            position: absolute;
            width: 6.0598rem;
            height: 6.0598rem;
            transform: rotate(105deg);
            top: 3.125rem;
            right: -3.125rem;
            border-radius: 1.875rem;
            background: $primary-color;
         }
      }
      &_2 {
         &::after {
            content: "";
            position: absolute;
            width: 7.9667rem;
            height: 7.9667rem;
            transform: rotate(-30deg);
            bottom: -1.5625rem;
            right: -5rem;
            border-radius: 1.875rem;
            background: $primary-color;
         }
      }
      &_3 {
         &::before {
            content: "";
            position: absolute;
            width: 4.1095rem;
            height: 4.1095rem;
            transform: rotate(-30deg);
            top: -1.875rem;
            right: -1.25rem;
            border-radius: 1rem;
            background: $primary-color;
         }
      }
   }
}
.item-healthcare {
   height: 100%;
   position: relative;
   z-index: 2;
   border-radius: 0.5rem;
   background: $white-bgd-color;
   box-shadow: 0px 0.25rem 1.125rem 0px rgba(88, 126, 236, 0.18);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 2.25rem 1.125rem;
   &__image {
      max-height: 4.5rem;
      margin-bottom: 3.625rem;
      align-items: center;
   }
   &__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 138.5%; /* 22.16px */
      letter-spacing: 0.08rem;
      &:not(:last-child) {
         margin-bottom: 0.25rem;
      }
   }
   &__text {
      line-height: 138.5%; /* 16.62px */
      letter-spacing: 0.06rem;
   }
}

//=================FOOTER=============//
.footer {
   padding-bottom: 3.125rem;
   @media (max-width: 29.9988em) {
      padding-bottom: 1.25rem;
   }
   &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.625rem;
      @media (max-width: 47.9988em) {
         flex-direction: column;
         padding-top: 2.5rem;
         gap: 2.5rem;
      }
      @media (max-width: 29.9988em) {
         flex-direction: column;
         padding-top: 1.25rem;
         gap: 1.25rem;
      }
   }   
   &__link{
      img {
         max-width: 100%;
      }
   }
}
